Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: python label
    conditions:
      - files~=\.py$
    actions:
      label:
        add:
          - python files
          - request tim python untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review docs team untuk file markdown
    conditions:
      - label=python files
    actions:
      request_reviews:
        teams:
          - "@bellshade/python-team"

docs: menambah link navigasi di tiap materi
  algorithm/arithmetic_analysis/README.md
  algorithm/backtracking/README.md
  algorithm/boolean_algebra/README.md
  algorithm/divide_and_conquer/README.md
  algorithm/fuzzy_logic/README.md
  algorithm/genetic_algo/README.md
  algorithm/manipulasi_bit/README.md
  algorithm/matrix/README.md
  algorithm/networking_flow/README.md
  algorithm/searching/README.md
  implementation/blockchain/README.md
  implementation/celular_automata/README.md
  implementation/chiper/README.md
  implementation/compression/README.md
  implementation/electro/README.md
  implementation/file_transfer/README.md
  implementation/fractal/README.md
  implementation/geodesy_engineering/README.md
  implementation/geodesy_engineering/__init__.py
  implementation/geodesy_engineering/ellipsodial_distance.py
  implementation/geodesy_engineering/haversine.py
  implementation/linear_algebra/README.md
  implementation/physics/README.md
  math/README.md
  object_oriented_programming/README.md
  object_oriented_programming/basic_oop/0_definisi_kelas/README.md
  object_oriented_programming/basic_oop/1_atribut_kelas/README.md
  others/Palindrom.py
  others/README.md
  others/anagramCheck.py
  others/date_to_weekday.py
  others/doomsday_alg.py
  others/power_dac.py
  others/tower_of_hanoi.py
  struktur_data/README.md
  web_programming/README.md
Due: python label, markdown label

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

docs: perbaikan nama folder (tadi salah)
  implementation/geodesy_egineering/README.md
  implementation/geodesy_egineering/__init__.py
  implementation/geodesy_egineering/ellipsodial_distance.py
  implementation/geodesy_egineering/haversine.py
  other/Palindrom.py
  other/README.md
  other/anagramCheck.py
  other/date_to_weekday.py
  other/doomsday_alg.py
  other/power_dac.py
  other/tower_of_hanoi.py
Due: python label, markdown label

Link materi selanjutnya (#166)
  algorithm/arithmetic_analysis/README.md
  algorithm/backtracking/README.md
  algorithm/boolean_algebra/README.md
  algorithm/divide_and_conquer/README.md
  algorithm/fuzzy_logic/README.md
  algorithm/genetic_algo/README.md
  algorithm/manipulasi_bit/README.md
  algorithm/matrix/README.md
  algorithm/networking_flow/README.md
  algorithm/searching/README.md
  implementation/blockchain/README.md
  implementation/celular_automata/README.md
  implementation/chiper/README.md
  implementation/compression/README.md
  implementation/electro/README.md
  implementation/file_transfer/README.md
  implementation/fractal/README.md
  implementation/geodesy_egineering/README.md
  implementation/linear_algebra/README.md
  implementation/physics/README.md
  math/README.md
  object_oriented_programming/README.md
  object_oriented_programming/basic_oop/0_definisi_kelas/README.md
  object_oriented_programming/basic_oop/1_atribut_kelas/README.md
  other/README.md
  struktur_data/README.md
  web_programming/README.md
Due: markdown label

add: menambahkan `rgb_to_hex.py` (#165)
  other/rgb_to_hex.py
Due: python label

fix:menambahkan output list
  Basic/25_list_and_dict_comprehension/list_comprehension.py
Due: python label

Update and rename Basic/dict_comprehension.py to Basic/25_list_and_dict_comprehension/dict_comprehension.py
  Basic/25_list_and_dict_comprehension/dict_comprehension.py
Due: python label

feat: menambahkan logo pada badge
  README.md
Due: markdown label

fix: rename `Palindrom.py` to `is_palindrom.py`
  other/is_palindrom.py
Due: python label

feat: mengubah algoritma `is_palindrom.py`
  other/is_palindrom.py
Due: python label

feat: menambahkan docstring dan doctest
  other/is_palindrom.py
Due: python label

feat: menambahkan comment penjelasan algoritma
  other/is_palindrom.py
Due: python label

feat: memperbaiki `Palindrom.py` (#167)
  other/Palindrom.py
  other/is_palindrom.py
Due: python label

feat: geometric progression
  math/sum_geometric_progression.py
Due: python label

add: menambahkan `hex_to_rgb.py`
  other/hex_to_rgb.py
Due: python label

feat: menambahkan docstring dan doctest
  other/hex_to_rgb.py
Due: python label

feat: menambahkan penjelasan alur algoritma
  other/hex_to_rgb.py
Due: python label

add: tambah embed link kelas terbuka di markdown
  Basic/04_operator/README.md
  Basic/16_class/README.md
  Basic/17_inheritance/README.md
  object_oriented_programming/README.md
Due: markdown label

add: tambah embed link kelas terbuka di markdown (#169)
  Basic/04_operator/README.md
  Basic/16_class/README.md
  Basic/17_inheritance/README.md
  object_oriented_programming/README.md
Due: markdown label

add: menambahkan `hex_to_rgb.py` (#168)
  other/hex_to_rgb.py
Due: python label

add: menambahkan `get_random_quote.py`
  web_programming/get_random_quote.py
Due: python label

feat: menambah interaktivitas
  web_programming/get_random_quote.py
Due: python label

feat: menambahkan comment penjelasan fungsi
  web_programming/get_random_quote.py
Due: python label

feat: update struktur folder
  object_oriented_programming/README.md
  object_oriented_programming/basic_oop/01_atribut_kelas/README.md
  object_oriented_programming/basic_oop/01_atribut_kelas/atribut_kelas.py
  object_oriented_programming/basic_oop/02_mewarisi_kelas/README.md
  requirements.txt
Due: python label, markdown label

fix: memperbaiki error pytest
  algorithm/fuzzy_logic/fuzzy_operation.py
Due: python label

feat: nagel scherekenberg
  implementation/celular_automata/nagel_schrekenberg.py
Due: python label

feat: game of life
  implementation/celular_automata/game_of_life.py
Due: python label

add: menambahkan `get_random_quote.py` (#175)
  web_programming/get_random_quote.py
Due: python label

feat: menambahkan link materi
  README.md
Due: markdown label
