Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

python label:
  label:
    add:
    - python files
    - request tim python untuk review

markdown label:
  label:
    add:
    - markdown files

docs: memperbaiki dokumentasi link
  object_oriented_programming/README.md
  object_oriented_programming/basic_oop/01_atribut_kelas/README.md
  object_oriented_programming/basic_oop/0_definisi_kelas/README.md
Due: markdown label

docs: memperbaiki link
  object_oriented_programming/README.md
Due: markdown label

docs: memperbaiki dokumentasi
  object_oriented_programming/README.md
  object_oriented_programming/basic_oop/00_definisi_kelas/README.md
Due: markdown label

docs: mengganti link dokuemntasi oop
  object_oriented_programming/basic_oop/01_atribut_kelas/README.md
Due: markdown label

feat: menambahkan informasi dari mergify
  .mergify.yml
Due: none

add:list and dictionary comprehension (#152)
  Basic/25_list_and_dict_comprehension/dict_comprehension.py
  Basic/25_list_and_dict_comprehension/list_comprehension.py
  DIRECTORY.md
Due: python label, markdown label

feat: menambahkan encapsulation
  object_oriented_programming/intermediate/README.md
  object_oriented_programming/intermediate/encapsulation/README.md
  object_oriented_programming/intermediate/encapsulation/encapsulation.py
  object_oriented_programming/intermediate/encapsulation/encapsulation2.py
Due: python label, markdown label

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

feat: menambahkan minium requirement
  object_oriented_programming/intermediate/README.md
Due: markdown label

feat: menambahkan informasi dari github action
  .github/workflows/pythonapp.yml
Due: none

feat: inheritance
  object_oriented_programming/intermediate/inheritance/README.md
  object_oriented_programming/intermediate/inheritance/inheritance.py
Due: python label, markdown label

fix : kapitalisasi
  README.md
Due: markdown label

fix: menambah penjelasan abstrack class dan menambah kelas abstrak
  object_oriented_programming/intermediate/inheritance/README.md
  object_oriented_programming/intermediate/inheritance/inheritance.py
Due: python label, markdown label

Inheritance (#177)
  DIRECTORY.md
  object_oriented_programming/intermediate/inheritance/README.md
  object_oriented_programming/intermediate/inheritance/inheritance.py
Due: python label, markdown label

feat: update dari bot automerge
  .mergify.yml
Due: none

feat: menambahkan fungsi softmax
  math/softmax.py
Due: python label

feat: menambahkan solusi sock merchant
  math/sock_merchant.py
Due: python label

feat: materi abstraksi OOP
  object_oriented_programming/intermediate/abstraksi/README.md
  object_oriented_programming/intermediate/abstraksi/abstraksi.py
Due: python label, markdown label

Abstraksi (#178)
  DIRECTORY.md
  object_oriented_programming/intermediate/abstraksi/README.md
  object_oriented_programming/intermediate/abstraksi/abstraksi.py
Due: python label, markdown label

add: menambahkan materi polimorfisme
  object_oriented_programming/intermediate/polimorfis/README.md
  object_oriented_programming/intermediate/polimorfis/polimorfisme_kelas.py
  object_oriented_programming/intermediate/polimorfis/polimorfisme_sederhana.py
Due: python label, markdown label

feat: menambahkan link tiap materi
  object_oriented_programming/intermediate/abstraksi/README.md
  object_oriented_programming/intermediate/encapsulation/README.md
  object_oriented_programming/intermediate/inheritance/README.md
Due: markdown label

fix: memperbaiki link
  object_oriented_programming/basic_oop/02_mewarisi_kelas/README.md
  object_oriented_programming/intermediate/README.md
Due: markdown label

feat: tambah algoritma binary search tree
  struktur_data/binary_search_tree.py
Due: python label

fix: lgtm format
  struktur_data/binary_search_tree.py
Due: python label

feat: tambah algoritma binary search tree (#179)
  struktur_data/binary_search_tree.py
Due: python label

feat: saringan eratosthenes
  math/sieve_of_eratosthenes.py
Due: python label

feat: angka proth
  math/proth_number.py
Due: python label

docs: update dokumentasi
  implementation/celular_automata/README.md
Due: markdown label

add:SegitigaPascal
  math/PascalTriangle.py
Due: python label

feat: upgrade python 3.10
  update.md
Due: markdown label

Path conditions:
  python label: any of: \.py$
  markdown label: any of: \.md$
