Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: python label
    conditions:
      - files~=\.py$
    actions:
      label:
        add:
          - python files
          - request tim python untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review docs team untuk file markdown
    conditions:
      - label=python files
    actions:
      request_reviews:
        teams:
          - "@bellshade/python-team"

feat: menambahkan deret geomtri
  math/jumlah_deret_geomteri.py
Due: python label

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

add : sigmoid
  math/sigmoid.py
Due: python label

feat: menambahkan deret sylvester
  math/sylvester_sequence.py
Due: python label

add : sigmoid (#128)
  DIRECTORY.md
  math/sigmoid.py
Due: python label, markdown label

fix: tidak menggunakan f string
  math/sylvester_sequence.py
Due: python label

feat: tambah script untuk menghitung pangkat
  math/geometric_sum.py
  other/power_dac.py
Due: python label

feat: tambah script untuk menghitung pangkat
  other/power_dac.py
Due: python label

feat: tambah script untuk menghitung pangkat (#130)
  DIRECTORY.md
  other/power_dac.py
Due: python label, markdown label

feat: statistik dari perkembangan corona
  web_programming/statik_corona.py
Due: python label

add: standard library math
  Basic/README.md
  Basic/python_math/README.md
  Basic/python_math/math_eksponen_logaritma.py
  Basic/python_math/math_konstanta.py
  Basic/python_math/math_konversi_sudut.py
  Basic/python_math/math_pembulatan.py
  Basic/python_math/math_trigonometri.py
Due: python label, markdown label

add: standard library math (#131)
  Basic/README.md
  Basic/python_math/README.md
  Basic/python_math/math_eksponen_logaritma.py
  Basic/python_math/math_konstanta.py
  Basic/python_math/math_konversi_sudut.py
  Basic/python_math/math_pembulatan.py
  Basic/python_math/math_trigonometri.py
  DIRECTORY.md
Due: python label, markdown label

feat: segmented sieve
  math/segmented_sieve.py
Due: python label

feat: tambah algoritma digit sum
  math/digit_sum.py
Due: python label

feat: tambah algoritma digit sum (#132)
  DIRECTORY.md
  math/digit_sum.py
Due: python label, markdown label

feat: persamaan kuadrat dengan bilangan complex
  math/persamaan_kuadarat_bilangan_kompleks.py
Due: python label

fix: git pull prosedur
  .github/workflows/pythonapp.yml
Due: none

add: metode runge kutta
  math/ runge_kutta.py
Due: python label

chore(deps): add renovate.json
  renovate.json
Due: none

feat: update dokumentasi
  README.md
Due: markdown label

feat: langsung mengarahkan ke dokumentasi
  README.md
Due: markdown label

feat: update markdown pada basic
  Basic/2_variable/README.md
  Basic/5_input_output/README.md
  Basic/5_input_output/input_output.py
Due: python label, markdown label

feat: update testing
  .github/workflows/pythonapp.yml
Due: none
