Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

python label:
  label:
    add:
    - python files
    - request tim python untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

feat: update testing
  .github/workflows/pythonapp.yml
Due: none

docs: create roadmap in DIRECTORY.md
  DIRECTORY.md
Due: markdown label

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

Update README.md
  README.md
Due: markdown label

docs: update dokumentasi dari anlisis numerik
  algorithm/arithmetic_analysis/README.md
Due: markdown label

docs: update dokumentasi
  README.md
Due: markdown label

docs: reformat markdown
  README.md
Due: markdown label

docs: update dokumentasi
  Basic/README.md
  CONTRIBUTING.md
  README.md
Due: markdown label

feat: tambah script untuk menghitung radian
  math/radian.py
Due: python label

feat: tambah script untuk menghitung radian (#145)
  DIRECTORY.md
  math/radian.py
Due: python label, markdown label

docs: add README.md link in Roadmap
  README.md
Due: markdown label

Update README.md
  Basic/1_introduction/README.md
Due: markdown label

Update Konten & Kapitalisasi
  Basic/1_introduction/README.md
Due: markdown label

Update README.md
  Basic/01_introduction/README.md
Due: markdown label

Revert "Update README.md"
  Basic/01_introduction/README.md
Due: markdown label

fix: memperbaiki file yang konflik
  Basic/01_introduction/README.md
Due: markdown label

fix: memperbaiki file yang konflik
  Basic/README.md
Due: markdown label

docs: memperbaiki file yang konflik
  Basic/01_introduction/README.md
Due: markdown label

Add files via upload
  assets/logo.png
Due: none

Update README.md
  Basic/README.md
Due: markdown label

Add files via upload
  other/dict_comprehension.py
  other/list_comprehension.py
Due: python label

feat: pangkat dengan rekursif
  math/recursion_power.py
Due: python label

feat: pangkat dengan rekursif (#153)
  DIRECTORY.md
  math/recursion_power.py
Due: python label, markdown label

Path conditions:
  python label: any of: \.py$
  markdown label: any of: \.md$
