Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

python label:
  label:
    add:
    - python files
    - request tim python untuk review

markdown label:
  label:
    add:
    - markdown files

feat: menambahkan dokumentasi
  implementation/celular_automata/conways_game_of_life.py
  update.md
Due: python label, markdown label

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

feat: menambahkan dokumentasi
  update.md
Due: markdown label

feat: menambahkan requirements
  requirements.txt
Due: none

feat: test versi terbaru
  .github/workflows/pythonapp.yml
Due: none

fix: unit testing python
  .github/workflows/pythonapp.yml
Due: none

feat: menambahkan game of life
  implementation/celular_automata/conways_game_of_life.py
Due: python label

fix: module yang tidak terpakai
  implementation/celular_automata/conways_game_of_life.py
Due: python label

Update math/PascalTriangle.py
  math/PascalTriangle.py
Due: python label

feat: menambahkan struktur pattern match
  Basic/regex/structure_pattern_matching/README.md
Due: markdown label

feat: menambahkan spiral matrix
  algorithm/matrix/spiral_matrix.py
Due: python label

feat: menambahkan tutorial dan contoh flask api
  web_programming/flask_api/contoh/costmemethod.py
  web_programming/flask_api/contoh/costumeurl.py
  web_programming/flask_api/contoh/costumeurlvariable.py
  web_programming/flask_api/contoh/helloworld.py
  web_programming/flask_api/contoh/main.py
  web_programming/flask_api/image/adddata.gif
  web_programming/flask_api/image/deletedata.gif
  web_programming/flask_api/image/getuser.gif
  web_programming/flask_api/image/getuserbyuserid.gif
  web_programming/flask_api/image/updatedata.gif
  web_programming/flask_api/readme.md
  web_programming/flask_api/user.sql
Due: python label, markdown label

feat: menambahkan tutorial dan contoh flask api
  web_programming/flask_api/readme.md
Due: markdown label

feat: fungsi untuk menangani bilangan prima
  math/prime_number_library.py
Due: python label

docs: tambah dokumentasi untuk binary tree
  struktur_data/tree/README.md
  struktur_data/tree/binary_search_tree/binary_search_tree.py
  struktur_data/tree/img/Ilustrasi_BST.png
  struktur_data/tree/img/complete_bt.png
  struktur_data/tree/img/degenerate_bt.png
  struktur_data/tree/img/full_bt.png
  struktur_data/tree/img/height_of_tree.png
  struktur_data/tree/img/perfect_bt.png
Due: python label, markdown label

docs : tambah dokumentasi pada binary search tree
  struktur_data/tree/binary_search_tree/README.md
  struktur_data/tree/binary_search_tree/img/bst_example.png
  struktur_data/tree/binary_search_tree/img/bst_insertion.png
Due: markdown label

feat: fungsi untuk menangani bilangan prima (#190)
  DIRECTORY.md
  math/prime_number_library.py
Due: python label, markdown label

Fix typo
  web_programming/flask_api/readme.md
Due: markdown label

Add requirements.txt
  web_programming/flask_api/requirements.txt
Due: none

black format
  web_programming/flask_api/contoh/costmemethod.py
  web_programming/flask_api/contoh/costumeurl.py
  web_programming/flask_api/contoh/costumeurlvariable.py
  web_programming/flask_api/contoh/helloworld.py
  web_programming/flask_api/contoh/main.py
Due: python label

sql update
  web_programming/flask_api/contoh/costumeurlvariable.py
Due: python label

Add requirements.txt to folder contoh
  web_programming/flask_api/contoh/requirements.txt
Due: none

Fix codacy
  web_programming/flask_api/contoh/main.py
Due: python label

Update
  web_programming/flask_api/contoh/main.py
Due: python label

Sql Update
  web_programming/flask_api/requirements.txt
  web_programming/flask_api/user.sql
Due: none

feat: menambahkan algoritma incremental_root_search
  algorithm/arithmetic_analysis/rootsearch.py
Due: python label

fix warnings: rootsearch.py
  algorithm/arithmetic_analysis/rootsearch.py
Due: python label

docs: tambah penjelasan tentang traversal
  struktur_data/tree/binary_search_tree/README.md
  struktur_data/tree/binary_search_tree/img/bst_example.png
  struktur_data/tree/binary_search_tree/img/inorder.png
  struktur_data/tree/binary_search_tree/img/postorder.png
  struktur_data/tree/binary_search_tree/img/preorder.png
Due: markdown label

docs: tambah penjelasan tentang binary tree dan binary search tree (#193)
  struktur_data/tree/README.md
  struktur_data/tree/binary_search_tree/README.md
  struktur_data/tree/binary_search_tree/binary_search_tree.py
  struktur_data/tree/binary_search_tree/img/bst_example.png
  struktur_data/tree/binary_search_tree/img/bst_insertion.png
  struktur_data/tree/binary_search_tree/img/inorder.png
  struktur_data/tree/binary_search_tree/img/postorder.png
  struktur_data/tree/binary_search_tree/img/preorder.png
  struktur_data/tree/img/Ilustrasi_BST.png
  struktur_data/tree/img/complete_bt.png
  struktur_data/tree/img/degenerate_bt.png
  struktur_data/tree/img/full_bt.png
  struktur_data/tree/img/height_of_tree.png
  struktur_data/tree/img/perfect_bt.png
Due: python label, markdown label

feat: menambahkan algoritma incremental_root_search (#192)
  algorithm/arithmetic_analysis/rootsearch.py
Due: python label

feat: update algoritma quinc_mc_cluskey.py
  algorithm/boolean_algebra/quinc_mc_cluskey.py
Due: python label

fix: coverage
  .coverage
Due: none

fix: test github actions
  .github/workflows/pythonapp.yml
Due: none

Path conditions:
  python label: any of: \.py$
  markdown label: any of: \.md$
