Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

python label:
  label:
    add:
    - python files
    - request tim python untuk review

markdown label:
  label:
    add:
    - markdown files

fix: commented dari coverage sementara
  .github/workflows/pythonapp.yml
Due: none

fix: unit testing github
  .github/workflows/pythonapp.yml
Due: none

fix: update testing
  .github/workflows/pythonapp.yml
  implementation/celular_automata/game_of_life.py
Due: python label

fix: unittesting
  .github/workflows/pythonapp.yml
Due: none

fix: menggunakan modul modul yang terpakai
  algorithm/arithmetic_analysis/in_static_equilibrium.py
Due: python label

fix: typo pada file
  algorithm/arithmetic_analysis/in_static_equilibrium.py
Due: python label

fix: menmbahkan cache dan mengganti modul
  .github/workflows/pythonapp.yml
  algorithm/arithmetic_analysis/in_static_equilibrium.py
Due: python label

fix: update testing
  .github/workflows/pythonapp.yml
Due: none

fix: typo
  .github/workflows/pythonapp.yml
Due: none

fix: memperbaiki unittesting
  .github/workflows/pythonapp.yml
  dev-requirements.txt
Due: none

fix: assert matrix spd
  implementation/linear_algebra/conjugate_gradient.py
Due: python label

fix: test hapus type hinting
  implementation/linear_algebra/conjugate_gradient.py
Due: python label

fix: update file
  implementation/linear_algebra/conjugate_gradient.py
Due: python label

fix: update static equilibrium
  algorithm/arithmetic_analysis/in_static_equilibrium.py
Due: python label

fix: in static equilibrium fix docstring test
  algorithm/arithmetic_analysis/in_static_equilibrium.py
Due: python label

fix: memperbaiki in static equilibrium docstring
  algorithm/arithmetic_analysis/in_static_equilibrium.py
Due: python label

fix: memperbaikit in static equilibrium
  algorithm/arithmetic_analysis/in_static_equilibrium.py
Due: python label

feat: menambahkan kode contoh penggunaan API
  .coverage
  web_programming/emisi_co2.py
Due: python label

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

menambahkan requirements.txt
  web_programming/flask_api/contoh/requirements.txt
Due: none

docs: menambahkan dokumentasi
  README.md
Due: markdown label

add: Menambahkan fungsi segitiga pascal (#181)
  DIRECTORY.md
  math/PascalTriangle.py
Due: python label, markdown label

fix: mengganti nama folder
  math/pascal_triangle.py
Due: python label

add: cek password strong
  other/strong_password_check.py
Due: python label

feat: algoritma bubble sorting
  algorithm/sorting/bubble_sort.py
Due: python label

fix: mypy[menghapus import yang tidak digunakan]
  algorithm/sorting/bubble_sort.py
Due: python label

feat: menambahkan iteration power, atau perpangkatan menggunakan metode perulangan
  math/iteration_power.py
Due: python label

fix: ganti var i dengan _ di for loop #195
  math/iteration_power.py
Due: python label

feat: menambahkan iteration power, atau perpangkatan menggunakan metode perulangan (#195)
  math/iteration_power.py
Due: python label

feat: menambahkan algoritma bubble sort ascii
  algorithm/sorting/bubble_sort_ascii.py
Due: python label

fix update DIRECTORY.md menambahkan link bubble sort ascii
  DIRECTORY.md
Due: markdown label

feat: menambahkan algoritma bubble sort string ascii (#196)
  DIRECTORY.md
  algorithm/sorting/bubble_sort_ascii.py
Due: python label, markdown label

Update kapitalisasi
  Basic/09_fungsi/README.md
Due: markdown label

docs: menambahkan snytax highlight
  struktur_data/tree/binary_search_tree/README.md
Due: markdown label

feat: menambahkan avl tree
  struktur_data/tree/avl_tree/README.md
  struktur_data/tree/avl_tree/avl_tree.py
Due: python label, markdown label

Path conditions:
  python label: any of: \.py$
  markdown label: any of: \.md$
