Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: python label
    conditions:
      - files~=\.py$
    actions:
      label:
        add:
          - python files
          - request tim python untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review docs team untuk file markdown
    conditions:
      - label=python files
    actions:
      request_reviews:
        teams:
          - "@bellshade/python-team"

Walrus (#159)
  Basic/04_operator/operator_penugasan_ekspresi.py
  DIRECTORY.md
Due: python label, markdown label

Update
  Basic/1_introduction/README.md
Due: markdown label

fix: space formatting codacy
  struktur_data/singly_linked_list.py
Due: python label

Update README.md
  Basic/1_introduction/README.md
Due: markdown label

fix:perbaiki README.md
  Basic/1_introduction/README.md
Due: markdown label

fix: perbaikan gambaran singkat README.md
  Basic/1_introduction/README.md
Due: markdown label

fix: mengubah penjelasan class menjadi comment
  web_programming/PaginationHelper.py
Due: python label

feat: improve typing on methods
  web_programming/PaginationHelper.py
Due: python label

fix: perbaikan docstring
  struktur_data/singly_linked_list.py
Due: python label

feat: menambahkan materi penjelasan dari oop
  object_oriented_programming/README.md
Due: markdown label

fix: perbaikan kapitalisasi dan indentasi
  Basic/2_tipe_data/README.md
Due: markdown label

fix: kapitalisasi dan tanda baca
  Basic/3_variable/README.md
Due: markdown label

fix: kapitalisasi
  Basic/README.md
Due: markdown label

fix: gambaran singkat/kapitalisasi
  Basic/1_introduction/README.md
Due: markdown label

feat: tambah script untuk singly linked list (#160)
  DIRECTORY.md
  struktur_data/singly_linked_list.py
Due: python label, markdown label

feat: menmbahkn penjelasan dasar oop
  object_oriented_programming/basic_oop/0_definisi_kelas/README.md
  object_oriented_programming/basic_oop/1_atribut_kelas/README.md
  object_oriented_programming/basic_oop/1_atribut_kelas/atribut_kelas.py
Due: python label, markdown label

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

add: menambahkan `PaginationHelper.py` (#158)
  web_programming/PaginationHelper.py
Due: python label

fix: typhint error pagination_helper
  web_programming/pagination_helper.py
Due: python label

docs: menambahkan visitor badge
  README.md
Due: markdown label

feat: tambah script doubly linked list
  struktur_data/doubly_linked_list.py
Due: python label

fix: perbaikan untuk lgtm
  struktur_data/doubly_linked_list.py
Due: python label

add: menambahkan `breadcrumb_generator.py`
  web_programming/breadcrumb_generator.py
Due: python label

add: menambahkan docstring dan doctest
  web_programming/breadcrumb_generator.py
Due: python label

fix: memperbaiki bug
  web_programming/breadcrumb_generator.py
Due: python label

feat: menambahkan typing
  web_programming/breadcrumb_generator.py
Due: python label

fix: memperbaiki different type variable assignment
  web_programming/breadcrumb_generator.py
Due: python label

fix: menghapus pass statement pada method insert
  struktur_data/doubly_linked_list.py
Due: python label

fix: Kapitalisasi, gambaran singkat
  Basic/1_introduction/README.md
Due: markdown label

fix: kapitalisasi
  Basic/2_tipe_data/README.md
Due: markdown label

fix: kapitalisasi, tanda baca
  Basic/3_variable/README.md
Due: markdown label

feat: tambah script doubly linked list (#162)
  struktur_data/doubly_linked_list.py
Due: python label

add: menambahkan `breadcrumb_generator.py` (#163)
  web_programming/breadcrumb_generator.py
Due: python label

add: menambahkan algoritma rgb_to_hex
  other/rgb_to_hex.py
Due: python label

feat: menambahkan docstring dan doctest
  other/rgb_to_hex.py
Due: python label

feat: menambahkan keterangan f-string yg digunakan
  other/rgb_to_hex.py
Due: python label
