Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      merge:
        method: squash
  - name: python label
    conditions:
      - files~=\.py$
    actions:
      label:
        add:
          - python files
          - request tim python untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review docs team untuk file markdown
    conditions:
      - label=python files
    actions:
      request_reviews:
        teams:
          - "@bellshade/python-team"

fix:bahasa indonesia
  Basic/list_comprehension.py
Due: python label

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

Update and rename other/dict_comprehension.py to Basic/dict_comprehension.py
  Basic/dict_comprehension.py
Due: python label

feat: tabah intergrasi gitpod
  .gitpod.yml
Due: none

docs: minor changes (#151)
  Basic/README.md
  README.md
  assets/logo.png
Due: markdown label

feat: menambahkan faktor prima
  math/faktor_prima.py
Due: python label

fix: dokumentasi dan doctest faktor prima
  README.md
  math/faktor_prima.py
Due: python label, markdown label

feat: menambahkan qr decomposition
  math/qr_decomposition.py
Due: python label

Update README.md
  README.md
Due: markdown label

feat: menambahkan angka proth
  math/angka_proth.py
Due: python label

feat: theorema pythagoras
  math/teorema_pytaghoras.py
Due: python label

feat: operasi matrix
  algorithm/matrix/matrix_operation.py
Due: python label

Update README.md
  Basic/03_variable/README.md
Due: markdown label

docs: update dokumentasi
  README.md
Due: markdown label

Update list_comprehension.py
  Basic/list_comprehension.py
Due: python label

Update dict_comprehension.py
  Basic/dict_comprehension.py
Due: python label

feat: update automerge bot
  .mergify.yml
Due: none

feat: menambahkan embed link untuk referensi ke kelas terbuka
  Basic/02_tipe_data/README.md
  Basic/03_variable/README.md
  Basic/05_string/README.md
  Basic/06_input_output/README.md
  Basic/07_logika_percabangan/README.md
  Basic/08_perulangan/README.md
  Basic/11_manipulasi_string/README.md
  Basic/14_python_datetime/README.md
Due: markdown label

docs: memperbaiki introduction
  Basic/01_introduction/README.md
Due: markdown label

feat: tambah script untuk singly linked list
  struktur_data/singly_linked_list.py
Due: python label

fix: move `/other/isPrime.py` to `/math/is_prime.py`
  math/is_prime.py
Due: python label

fix: mengubah algoritma
  math/is_prime.py
Due: python label

feat: menambahkan docstring dan doctest
  math/is_prime.py
Due: python label

fix: optimisasi dan penambahan docstring ke isPrime.py (#157)
  math/is_prime.py
  other/isPrime.py
Due: python label

add: menambah class `PaginationHelper.py`
  web_programming/PaginationHelper.py
Due: python label

feat: menambah docstring dan doctest
  web_programming/PaginationHelper.py
Due: python label

add: operator penugasan ekspresi Walrus
  Basic/04_operator/operator_penugasan_ekspresi.py
Due: python label

add: tambah doctest dan method
  struktur_data/singly_linked_list.py
Due: python label
