Repository bellshade/Python: changes, and which Mergify rules are due for each by the changed paths.
All: python label, markdown label

.mergify.yml:

pull_request_rules:
  # membuat requirement dari automerge dengan sistem
  # ketika workflow build passed maka akan dicentang
  # ketika target pull request ke main maka akan dicentang
  # ketika dikasih label 'ready-to-merge' akan dicentang

  # ketika requirement telah terpenuhi maka bot akan bekerja
  # dan pull request secara otomatis akan merge
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      # menambahkan komentar jika sudah di merge
      comment:
        message: terima kasih atas kontribusinya @{{author}}!
      # menambahkan label jika sudah di merge
      label:
        add: 
          - sudah dirieview!
      # metode sistem dari automerge
      merge:
        method: squash

  # membuat label dengan kondisi jika di dalam pull request
  # terdapat file python
  - name: python label
    conditions:
      - files~=\.py$
    actions:
      # menambahkan label 'python files'
      # dan label 'request tim python untuk review'
      label:
        add:
          - python files
          - request tim python untuk review

  # membuat label dengan kondisi jika di dalam pull request
  # terdapat file markdown
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      #  menambahkan label 'markdown files'
      label:
        add:
          - markdown files
  
  # membuat sistem bot me mention python team untuk meriview
  # dari pull request dengan kondisi jika terdapat file python
  - name: review docs team untuk file markdown
    conditions:
      - label=python files
    actions:
      request_reviews:
        teams:
          - "@bellshade/python-team"

update DIRECTORY.md
  DIRECTORY.md
Due: markdown label

feat: update testing dengan bellshadebot
  .github/workflows/pythonapp.yml
Due: none

fix: testing black
  algorithm/backtracking/coloring.py
Due: python label

style: format otomatis dengan black dan isort
  algorithm/backtracking/coloring.py
Due: python label

Update directory.yml
  .github/workflows/directory.yml
Due: none

feat: menambahkan materi stack dengan menggunakan list
  struktur_data/stack/README.md
  struktur_data/stack/stack_list.py
Due: python label, markdown label

feat: menambahkan metode jacobi
  algorithm/arithmetic_analysis/jacobi_iteration_method.py
Due: python label

style: format otomatis dengan black dan isort
  algorithm/arithmetic_analysis/jacobi_iteration_method.py
Due: python label

fix: memperbaiki typo
  algorithm/arithmetic_analysis/jacobi_iteration_method.py
Due: python label

docs: menambahkan dokumentasi
  README.md
  algorithm/manipulasi_bit/README.md
  implementation/fractal/README.md
  implementation/linear_algebra/README.md
Due: markdown label

docs: mengganti tahun lisensi
  LICENSE
Due: none

chore: mengubah versi dari python untuk testing
  .github/workflows/pythonapp.yml
Due: none

feat: menambahkan fetch covid dengan lxml
  web_programming/covid_stat_xpath.py
Due: python label

fix: memperbaiki error pada flake8
  web_programming/covid_stat_xpath.py
Due: python label

feat: menambahkan kurva bezier
  implementation/graphic/bezier_curve.py
Due: python label

feat: menambahkan berbagai macam source code dari python turtle
  other/turtle/README.md
  other/turtle/logo_apple.py
  requirements.txt
Due: python label, markdown label

feat: update circi testing
  .circleci/config.yml
Due: none

fix: github action
  .github/workflows/pythonapp.yml
Due: none

fix: menggunakan ignore mypy
  other/turtle/logo_apple.py
  requirements.txt
Due: python label

fix: fixing isort
  .github/workflows/pythonapp.yml
  implementation/graphic/bezier_curve.py
Due: python label

fix: black
  other/turtle/logo_apple.py
Due: python label

docs: menambahkan dokumentasi
  algorithm/arithmetic_analysis/README.md
Due: markdown label

fix: precommit
  .github/workflows/pre-commit.yml
Due: none

feat: update python dengan pre-commit
  .pre-commit-config.yaml
  Basic/09_fungsi/fungsi.py
  Basic/16_class/dunder_method.py
  Basic/17_inheritance/inheritance_python.py
  Basic/25_list_and_dict_comprehension/list_comprehension.py
  algorithm/arithmetic_analysis/in_static_equilibrium.py
  algorithm/arithmetic_analysis/lu_decomposition.py
  algorithm/arithmetic_analysis/newton_forward_interpolation.py
  algorithm/arithmetic_analysis/rootsearch.py
  algorithm/backtracking/coloring.py
  algorithm/backtracking/combination.py
  algorithm/backtracking/hamilton_cycle.py
  algorithm/backtracking/permutation.py
  algorithm/backtracking/subsequence.py
  algorithm/backtracking/sudoku.py
  algorithm/divide_and_conquer/closest_pair_of_points.py
  algorithm/divide_and_conquer/convex_hull.py
  implementation/blockchain/chinese_remainder.py
  implementation/blockchain/diophantine_equation.py
  implementation/blockchain/modular_division.py
  implementation/chiper/caesar.py
  implementation/compression/huffman.py
  implementation/electro/ohm.py
  implementation/linear_algebra/polynom_for_point.py
  implementation/linear_algebra/transformation_2d.py
  math/ runge_kutta.py
  math/midpoint.py
  math/pascal_triangle.py
  math/rectangle.py
  object_oriented_programming/intermediate/encapsulation/encapsulation.py
  object_oriented_programming/intermediate/encapsulation/encapsulation2.py
  struktur_data/tree/avl_tree/avl_tree.py
Due: python label

fix: menambahkan koma
  algorithm/divide_and_conquer/convex_hull.py
Due: python label

fix: update pre-commit file
  .pre-commit-config.yaml
  algorithm/arithmetic_analysis/bisection.py
  algorithm/arithmetic_analysis/in_static_equilibrium.py
  algorithm/arithmetic_analysis/intersection.py
  algorithm/arithmetic_analysis/lu_decomposition.py
  algorithm/arithmetic_analysis/newton_forward_interpolation.py
  algorithm/arithmetic_analysis/newton_method.py
  algorithm/arithmetic_analysis/rootsearch.py
  algorithm/backtracking/coloring.py
  algorithm/backtracking/combination.py
  algorithm/backtracking/hamilton_cycle.py
  algorithm/backtracking/permutation.py
  algorithm/backtracking/subsequence.py
  algorithm/backtracking/sudoku.py
  algorithm/boolean_algebra/quinc_mc_cluskey.py
  algorithm/divide_and_conquer/closest_pair_of_points.py
  algorithm/divide_and_conquer/convex_hull.py
  algorithm/divide_and_conquer/inversion.py
  algorithm/searching/_types.py
  algorithm/searching/binary_search.py
  algorithm/searching/linear_search.py
  implementation/blockchain/chinese_remainder.py
  implementation/blockchain/diophantine_equation.py
  implementation/blockchain/modular_division.py
  implementation/chiper/caesar.py
  implementation/chiper/playfair.py
  implementation/electro/ohm.py
  implementation/linear_algebra/conjugate_gradient.py
  implementation/linear_algebra/polynom_for_point.py
  implementation/linear_algebra/rayleigh_quotient.py
  implementation/linear_algebra/transformation_2d.py
  math/midpoint.py
  math/pascal_triangle.py
  math/rectangle.py
  math/simpson.py
  math/trapezoid.py
  scripts/build_directory_md.py
  web_programming/pagination_helper.py
Due: python label

feat: update file
  algorithm/arithmetic_analysis/bisection.py
  algorithm/arithmetic_analysis/intersection.py
  algorithm/arithmetic_analysis/newton_method.py
  algorithm/arithmetic_analysis/rootsearch.py
  algorithm/backtracking/subsequence.py
  algorithm/boolean_algebra/quinc_mc_cluskey.py
  algorithm/divide_and_conquer/inversion.py
  algorithm/searching/_types.py
  algorithm/searching/binary_search.py
  algorithm/searching/linear_search.py
  implementation/chiper/playfair.py
  implementation/linear_algebra/conjugate_gradient.py
  implementation/linear_algebra/rayleigh_quotient.py
  math/midpoint.py
  math/rectangle.py
  math/simpson.py
  math/trapezoid.py
  scripts/build_directory_md.py
  web_programming/pagination_helper.py
Due: python label

fix: memperbaiki beberapa file karena pre commit dan flake8
  algorithm/backtracking/permutation.py
  algorithm/backtracking/subsequence.py
  algorithm/searching/_types.py
Due: python label

fix: final solution
  .circleci/config.yml
Due: none

feat: menambahkan tutorial regex
  regular_expression/00_pengenalan_regex/README.md
  regular_expression/00_pengenalan_regex/contoh_regex.py
Due: python label, markdown label
